

#base-div-wrapper {
  width: 100%;
  height: calc(100% - 50%);
  background-color: transparent;
  position: absolute;
  transition: 0.32s;
  top: 20%;
  transform: translateY(-20%);
}
#base-div-wrapper img:nth-child(1) {
  width: 140px;
  position: relative;
  top: 15px;
  left: 50%;
  transform: translateX(-50%)
}

#input-username {
  width: calc((100% - 40%) - 4px);
  height: 35px;
  font-family: 'GSansRegular';
  font-size: 16px;
  background-color: transparent;
  border: 1px rgb(232, 232, 232, 0.5) solid;
  border-radius: 6px;
  color: #E8E8E8;
  padding-left: 5px;
  transition: 0.5s
}

#login-input-field {
  width: 100%;
  height: unset;
  background-color: transparent;
  text-align: center;
  margin-top: 40px
}

input {
  outline: none;
}
input::placeholder {
  font-family: 'GSansRegular';
  font-size: 16px;
  color: rgb(232, 232, 232, 0.5)
}

#password-element-wrapper {
  margin-top: 5px
}

#input-password {
  width: calc((100% - 40%) - 80px);
  margin-right: 5px;
  position: relative;
  top: -9px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid rgb(232, 232, 232, 0.5);
  background-color: transparent;
  color: #E8E8E8;
  padding-left: 5px;
  transition: 0.5s
}

#submit-loginInfo {
  background-color: transparent;
  border: 1px solid rgb(232, 232, 232, 0.5);
  height: 39px;
  width: 70px;
  border-radius: 6px;
  cursor: pointer
}
#submit-loginInfo:hover img:nth-child(1) {
  width: 30px;
  position: relative;
  top: 17px;
  rotate: 90deg;
  left: 0px;
  animation: animateArrow 2s forwards infinite ease-in-out;
  transition: 0.5s
}
#submit-loginInfo img:nth-child(1) {
  width: 30px;
  position: relative;
  top: 17px;
  rotate: 90deg;
  left: 0%;
}
@keyframes animateArrow {
  0% {
    left: -10%
  } 50% {
    left: 10%
  } 100% {
    left: -10%
  }
}

#base-div-wrapper span:nth-child(3) {
  position: absolute;
  bottom: 15px;
  color: #007AFF;
  font-family: 'GSansMedium';
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@keyframes animateCircle {
  0% {
    width: 10px;
    height: 10px
  } 50% {
    width: 60px;
    height: 60px
  } 100% {
    width: 600px;
    height: 600px
  }
}

.circle {
  width: 600px;
  height: 600px;
  position: absolute;
  border-radius: 100%;
  z-index: 0;
  opacity: 0;
  transition: 0.45s ease;
  animation: animateCircle 2s forwards  ease
}
.purple{
  background-image: linear-gradient(-45deg, #452E79 40%, #7F55DF);
  box-shadow: 38px -21px 82px -16px rgb(108, 72, 189, 0.4);
  top: 400px;
  right: 300px;
}
.blue{
  background-image: linear-gradient(-45deg, #1074f1 40%, #004fb1);
  box-shadow: -78px 54px 85px -35px rgb(2, 82, 183, 0.40);
  bottom: 400px;
  left: 300px;
}

@media screen and (min-width: 900px) {
  #base-div-wrapper{
    width: calc(100% - 68%);
    height: calc(100% - 50%);
    background-color: rgb(33, 40, 50, .5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0px 0px 30px -10px #31475E;
    z-index: 100;
    backdrop-filter: blur(60px)
  }
  #base-div-wrapper img:nth-child(1) {
    width: 140px;
    position: relative;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
  }
  #input-username {
    width: calc(100% - 40%);
    height: 35px;
    font-family: 'GSansRegular';
    font-size: 16px;
    background-color: transparent;
    border: 1px rgb(232, 232, 232, 0.5) solid;
    border-radius: 6px;
    color: #E8E8E8
  }
  
  #login-input-field {
    width: 100%;
    height: unset;
    background-color: transparent;
    text-align: center;
    margin-top: 40px
  }
  
  input {
    outline: none;
  }
  
  #password-element-wrapper {
    margin-top: 5px
  }
  
  #input-password {
    width: calc((100% - 40%) - 76px);
    margin-right: 5px;
    position: relative;
    top: -9px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid rgb(232, 232, 232, 0.5);
    background-color: transparent;
    color: #E8E8E8
  }
  
  #submit-loginInfo {
    background-color: transparent;
    border: 1px solid rgb(232, 232, 232, 0.5);
    height: 39px;
    width: 70px;
    border-radius: 6px
  }
  #submit-loginInfo img:nth-child(1) {
    width: 30px;
    position: relative;
    top: 17px;
    rotate: 90deg;
    left: 0%;
  }
  .circle {
    width: 600px;
    height: 600px;
    position: absolute;
    border-radius: 100%;
    z-index: 0;
    opacity: 1;
    transition: 0.45s ease;
  }
}