html {
  background-color: #212832;
  color: #e8e8e8;
  font-family: 'GSansRegular';
  overflow-y: scroll
}

#ai-input-field {
  width: 100%;
  position: fixed;
  bottom: 10px;
  left: 0px;
  background-color: transparent;
  justify-items:space-evenly;
  text-align: center;
  height:60px;
  z-index: 100
}
#ai-input-field input:nth-child(1) {
  width: calc(100% - 80px);
  max-width: 900px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #31475e;
  padding-left: 10px;
  font-family: 'GSansRegular';
  color: #e8e8e8;
  font-size: 15px;
  position: absolute;
  bottom:0px;
  left: 10px
}
#ai-input-field ::-webkit-input-placeholder {
  color: rgb(232, 232, 232, 0.2)
}
#ai-input-field button {
  width: 42px;
  margin-left: 10px;
  height: 42px;
  position: absolute;
  bottom: 0px;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(to bottom right, #9050DA, #007AFF);
  cursor: pointer;
  right: 10px
}

#submit-arrow {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#chatbox {
  width: 100%;
  height: calc(100% - 110px);
  position: absolute;
  background-color: transparent;
  overflow-y: scroll;
  display: none
}

#ai-textbox{
  width: calc(100% - 0px);
  height: max-content;
  min-height: 35px;
  background-color:transparent;
  position: absolute;
  left:50%;
  translate: -50%;
}

#ai-answer {
  width: calc(100% - 60px);
  height: max-content;
  background-color: transparent;
  font-family: 'GSansRegular';
  font-size: 17px;
  line-height: 26px;
  margin-left: 45px;
}
#ai-profile {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  background-color: #1e1e1e;
  background-image: url('../resource/icon.svg');
  background-position:center;
  background-size: 28px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 5px
}
#user-prompt-display {
  width: max-content;
  min-width: 100px;
  height: max-content;
  min-height: 30px;
  background-color: #212832;
  text-align: right;
  box-shadow: 0px 0px 0px 3px #31475e;
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
  display: grid;
  align-items: center;
}

#user-prompt-wrapper {
  width: calc(100% - 10px);
  height: max-content;
  background-color: transparent;
  margin-bottom: 10px;
  margin-top: 100px;
  text-align: right;
  place-items: right;
  justify-items: right;
  display: grid
}

@media screen and (min-width: 900px) {
  #ai-input-field {
    width: 100%;
    position: fixed;
    bottom: 10px;
    left: 48%;
    transform: translateX(-50%);
    background-color: transparent;
    justify-content: center;
    text-align: center;
    min-width: 800px;
    height: unset
  }
  #ai-input-field input:nth-child(1) {
    width: calc(100% - 100px);
    max-width: 500px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #31475e;
    padding-left: 10px;
    font-family: 'GSansRegular';
    color: #e8e8e8;
    font-size: 15px;
    position: unset;
    left: unset
  }
  #ai-input-field button {
    width: 42px;
    margin-left: 10px;
    height: 42px;
    position: absolute;
    bottom: 0px;
    border-radius: 8px;
    border: none;
    background-image: linear-gradient(to bottom right, #9050DA, #007AFF);
    cursor: pointer;
    right: unset
  }
  #ai-answer {
    width: calc(100% - 150px);
    height: max-content;
    background-color: transparent;
    font-family: 'GSansRegular';
    font-size: 16px;
    line-height: 27px;
    margin-left: 45px;
  }
  #ai-textbox{
    width: calc(100% - 62%);
    height: max-content;
    min-height: 35px;
    background-color:transparent;
    position: absolute;
    left:50%;
    translate: -50%;
  }
  #user-prompt-wrapper {
    width: calc(100% - 110px);
    height: max-content;
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 100px;
    justify-items: right;
    place-items: right;
    display: grid
  }
  #greeting {
    font-family: 'GSansBlack';
    background: linear-gradient(to right bottom, #9050DA, #007AFF);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px
  }
}

#greeting {
  font-family: 'GSansBlack';
  background: linear-gradient(to right bottom, #9050DA, #007AFF);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 37px;
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}